[Unit]
Description=start roscore
After=remote-fs.target
After=syslog.target
[Service]
ExecStart=/usr/local/bin/log_temperature.sh
Restart=always
RestartSec=60
[Install]
WantedBy=multi-user.target
