<launch>
    <!-- Start the thrusters -->
    <include file="$(find floatpi)/launch/thrusters.launch">
        <arg name="thruster_1" value="true"/>
        <arg name="thruster_2" value="false"/>
        <arg name="thruster_3" value="false"/>
        <arg name="cmd_topic_1" value="/thruster_cmd"/>
        <arg name="cmd_topic_2" value="/thruster_cmd"/>
        <arg name="thruster_direction_1" value="1"/>
        <arg name="thruster_direction_2" value="1"/>
    </include>

    <!-- Start the static depth controller -->
    <node name="thruster_commander" pkg="float_control" type="static_command.py">
    </node>
    <!-- Use static_depth by setting parameter set_thruster_command... -->


</launch>
